<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hm.packer.model.mapper.LicenseKeyMapper">

    <select id="select" resultType="com.hm.packer.model.entity.LicenseKey">
        SELECT * FROM LICENSE_KEY
    </select>

    <insert id="insert" parameterType="com.hm.packer.model.entity.LicenseKey">
        INSERT INTO LICENSE_KEY VALUES(#{licenseKey}, #{engineerKey})
    </insert>

</mapper>